<%- model_class = Order -%>
<link rel="stylesheet" type="text/css" href="orders.scss">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

  <%= render @orders%>
<%= link_to 'New Order', new_category_order_path(@category), class: 'btn btn-primary' %>
<br>


